{
	// eslint v3.11.0
	"env": {
		"node" : true,
		"browser" : true,
		"amd" : true,
		"jquery" : true,
		"jasmine" : true,
		"es6": true,
	},
	// see http://eslint.org/docs/rules/
 	"rules": {
		// Possible Errors
		"no-cond-assign" : 2,
		"no-console" : 0,
		"no-constant-condition" : 2,
		"no-control-regex" : 2,
		"no-debugger" : 2,
		"no-dupe-args" : 2,
		"no-dupe-keys" : 2,
		"no-duplicate-case" : 2,
		"no-empty-character-class" : 2,
		"no-empty" : 2,
		"no-ex-assign" : 2,
		"no-extra-boolean-cast" : 0,
		"no-extra-parens" : 0,
		"no-extra-semi" : 2,
		"no-func-assign" : 2,
		"no-inner-declarations" : 2,
		"no-invalid-regexp" : 2,
		"no-irregular-whitespace" : [2, {"skipRegExps": true}],
		"no-obj-calls" : 2,
		"no-prototype-builtins" : 0,
		"no-regex-spaces" : 2,
		"no-sparse-arrays" : 2,
		"no-template-curly-in-string" : 0,
		"no-unexpected-multiline" : 2,
		"no-unreachable" : 2,
		"no-unsafe-finally" : 2,
		"no-unsafe-negation" : 2,
		"use-isnan" : 2,
		"valid-jsdoc" : 0,
		"valid-typeof" : 2,
		// Best Practices
		"accessor-pairs" : 2,
		"array-callback-return" : 0,
		"block-scoped-var" : 2,
		"class-methods-use-this" : 0,
		"complexity" : 2,
		"consistent-return" : 1,
		"curly" : 2,
		"default-case" : 2,
		"dot-location" : 2,
		"dot-notation" : 2,
		"eqeqeq" : 2,
		"guard-for-in" : 0,
		"no-alert" : 0,
		"no-caller" : 2,
		"no-case-declarations" : 0,
		"no-div-regex" : 2,
		"no-else-return" : 0,
		"no-empty-function" : 0,
		"no-empty-pattern" : 2,
		"no-eq-null" : 2,
		"no-eval" : 2,
		"no-extend-native" : 2,
		"no-extra-bind" : 2,
		"no-extra-label" : 0,
		"no-fallthrough" : 2,
		"no-floating-decimal" : 2,
		"no-global-assign" : 2,
		"no-implicit-coercion" : [2, {"boolean": false, "number": true, "string": false}],
		"no-implicit-globals" : 0,
		"no-implied-eval" : 2,
		"no-invalid-this" : 0,
		"no-iterator" : 2,
		"no-labels" : 2,
		"no-lone-blocks" : 2,
		"no-loop-func" : 0,
		"no-magic-numbers" : 0,
		"no-multi-spaces" : 2,
		"no-multi-str" : 2,
		"no-new-func" : 2,
		"no-new-wrappers" : 2,
		"no-new" : 0,
		"no-octal-escape" : 2,
		"no-octal" : 2,
		"no-param-reassign" : 0,
		"no-proto" : 2,
		"no-redeclare" : 2,
		"no-restricted-properties" : 0,
		"no-return-assign" : 2,
		"no-return-await" : 0,
		"no-script-url" : 2,
		"no-self-assign" : 2,
		"no-self-compare" : 2,
		"no-sequences" : 2,
		"no-throw-literal" : 2,
		"no-unmodified-loop-condition" : 0,
		"no-unused-expressions" : 2,
		"no-unused-labels" : 0,
		"no-useless-call" : 2,
		"no-useless-concat" : 0,
		"no-useless-escape" : 0,
		"no-useless-return" : 2,
		"no-void" : 2,
		"no-warning-comments" : 1,
		"no-with" : 2,
		"radix" : 2,
		"require-await" : 0,
		"vars-on-top" : 0,
		"wrap-iife" : 0,
		"yoda" : [2, "never", { "onlyEquality": true }],
		// Strict Mode
		"strict" : 2,
		// Variables
		"init-declarations" : 0,
		"no-catch-shadow" : 2,
		"no-delete-var" : 2,
		"no-label-var" : 2,
		"no-restricted-globals" : 0,
		"no-shadow-restricted-names" : 2,
		"no-shadow" : 0,
		"no-undef-init" : 0,
		"no-undef" : 2,
		"no-undefined" : 0,
		"no-unused-vars" : [2, {"vars": "all", "args": "none"}],
		"no-use-before-define" : 0,
		// Node.js and CommonJS
		"callback-return" : 0,
		"global-require" : 0,
		"handle-callback-err" : 2,
		"no-mixed-requires" : 2,
		"no-new-require" : 2,
		"no-path-concat" : 2,
		"no-process-env" : 0,
		"no-process-exit" : 2,
		"no-restricted-modules" : 2,
		"no-sync" : 2,
		// Stylistic Issues
		"array-bracket-spacing" : 2,
		"block-spacing" : 2,
		"brace-style" : [2, "1tbs", { "allowSingleLine": true }],
		"camelcase" : 2,
		"capitalized-comments" : 0,
		"comma-dangle" : 0,
		"comma-spacing" : [2, {"before": false, "after": true}],
		"comma-style" : 2,
		"computed-property-spacing" : 2,
		"consistent-this" : [2, "self"],
		"eol-last" : 0,
		"func-call-spacing" : 2,
		"func-name-matching" : 0,
		"func-names" : 0,
		"func-style" : 0,
		"id-blacklist" : 0,
		"id-length" : 0,
		"id-match" : 2,
		"indent" : [2, "tab", {
				"FunctionDeclaration": {"parameters": 2},
				"FunctionExpression": {"parameters": 2},
				"CallExpression": {"arguments": 2},
				"flatTernaryExpressions": true
			}],
		"jsx-quotes" : 0,
		"key-spacing" : [2, {"afterColon": true}],
		"keyword-spacing" : 2,
		"line-comment-position" : 0,
		"linebreak-style" : 0,
		"lines-around-comment" : 0,
		"lines-around-directive" : 0,
		"max-depth" : 2,
		"max-len" : [1, {"code": 120, "tabWidth": 4, "ignoreComments": true, "ignoreTrailingComments": true, "ignoreStrings": true, "ignoreRegExpLiterals": true, ignoreTemplateLiterals: true}],
		"max-lines" : 0,
		"max-nested-callbacks" : 2,
		"max-params" : 0,
		"max-statements-per-line" : 0,
		"max-statements" : [2, 200],
		"multiline-ternary" : 0,
		"new-cap" : 0,
		"new-parens" : 2,
		"newline-after-var" : 0,
		"newline-before-return" : 0,
		"newline-per-chained-call" : 0,
		"no-array-constructor" : 2,
		"no-bitwise" : 2,
		"no-continue" : 0,
		"no-inline-comments" : 0,
		"no-lonely-if" : 0,
		"no-mixed-operators" : 0,
		"no-mixed-spaces-and-tabs" : 2,
		"no-multiple-empty-lines" : 2,
		"no-negated-condition" : 0,
		"no-nested-ternary" : 0,
		"no-new-object" : 2,
		"no-plusplus" : 0,
		"no-restricted-syntax" : [2, "WithStatement"],
		"no-tabs" : 0,
		"no-ternary" : 0,
		"no-trailing-spaces" : [2, { "skipBlankLines": true }],
		"no-underscore-dangle" : 0,
		"no-unneeded-ternary" : 2,
		"no-whitespace-before-property" : 2,
		"object-curly-newline" : 0,
		"object-curly-spacing" : 2,
		"object-property-newline" : [2, { "allowMultiplePropertiesPerLine": true }],
		"one-var-declaration-per-line" : 0,
		"one-var" : 0,
		"operator-assignment" : 0,
		"operator-linebreak" : 2,
		"padded-blocks" : 0,
		"quote-props" : 0,
		"quotes" : [2, "single"],
		"require-jsdoc" : 0,
		"semi-spacing" : 2,
		"semi" : 2,
		"sort-keys" : 0,
		"sort-vars" : 0,
		"space-before-blocks" : 2,
		"space-before-function-paren" : [2, "never"],
		"space-in-parens" : 2,
		"space-infix-ops" : 2,
		"space-unary-ops" : 2,
		"spaced-comment" : 0,
		"unicode-bom" : 0,
		"wrap-regex" : 0,
		// ECMAScript 6
		"arrow-body-style" : 1,
		"arrow-parens" : 1,
		"arrow-spacing" : 1,
		"constructor-super" : 1,
		"generator-star-spacing" : 1,
		"no-class-assign" : 1,
		"no-confusing-arrow" : 0,
		"no-const-assign" : 1,
		"no-dupe-class-members" : 1,
		"no-duplicate-imports" : 1,
		"no-new-symbol" : 1,
		"no-restricted-imports" : 1,
		"no-this-before-super" : 1,
		"no-useless-computed-key" : 1,
		"no-useless-constructor" : 1,
		"no-useless-rename" : 1,
		"no-var" : 1,
		"object-shorthand" : 2,
		"prefer-arrow-callback" : 2,
		"prefer-const" : 1,
		"prefer-numeric-literals" : 1,
		"prefer-rest-params" : 1,
		"prefer-spread" : 1,
		"prefer-template" : 0,
		"require-yield" : 1,
		"rest-spread-spacing" : 1,
		"sort-imports" : 1,
		"symbol-description" : 1,
		"template-curly-spacing" : 1,
		"yield-star-spacing" : 1,
	},
	"globals": {
		"Promise": true
	},
    "plugins": [
        "html",
    ]
}