---
category: Usage
title: Column Message
layout: demo.html
order: 400
---

{{#marked}}
## Column Message
{{#if lang_ja}}

{{else}}

{{/if}}
{{/marked}}

<div id="sample1" class="demo-grid small">
</div>
<script type="text/javascript">
'use strict';
//{{#wrapscript}}
const menuOptions = [
	{value: '', caption: 'Empty'},
	{value: '1', caption: 'Option 1'},
	{value: '2', caption: 'Option 2'},
	{value: '3', caption: 'Option 3'},
	{value: '4', caption: 'Option 4'},
	{value: '5', caption: 'Option 5'},
	{value: '6', caption: 'Option 6'},
	{value: '7', caption: 'Option 7'},
];
const displayOptions = [
	{value: '', caption: 'Choose your option'},
	{value: '1', caption: 'Option 1'},
	{value: '2', caption: 'Option 2'},
	{value: '3', caption: 'Option 3'},
	{value: '4', caption: 'Option 4'},
	{value: '5', caption: 'Option 5'},
	{value: '6', caption: 'Option 6'},
	{value: '7', caption: 'Option 7'},
];
//{{#copy "script1"}}
/*global cheetahGrid*/
const grid = new cheetahGrid.ListGrid({
	parentElement: document.querySelector('#sample1'),
	header: [
		//message text
		{field: 'text1', caption: 'message text', width: 150, message: 'msg'},
		//message function
		{
			field: 'text2',
			caption: 'message fn',
			width: 150,
			message(rec) {
				return rec.text2.match(/^[a-zA-Z]*$/) ? null : 'Please only alphabet.';
			},
			action: new cheetahGrid.columns.action.InlineInputEditor(),
		},
		{
			field: 'val3',
			caption: 'menu',
			width: 200,
			message(rec) {
				return rec.val3 ? null : 'Please select.';
			},
			columnType: new cheetahGrid.columns.type.MenuColumn({options: displayOptions}),
			action: new cheetahGrid.columns.action.InlineMenuEditor({options: menuOptions}),
		},
	],
});
grid.records = [
	{text1: 'text', text2: '123', val3: '', msg: 'message.'},
	{text1: 'text', text2: '123', val3: '', msg: 'message.'},
	{text1: 'text', text2: '123', val3: '', msg: 'message.'},
	{text1: 'text', text2: '123', val3: '', msg: 'message.'},
	{text1: 'text', text2: '123', val3: '', msg: 'message.'},
	{text1: 'text', text2: '123', val3: '', msg: 'message.'},
	{text1: 'text', text2: '123', val3: '', msg: 'message.'},
	{text1: 'text', text2: '123', val3: '', msg: 'message.'},
	{text1: 'text', text2: '123', val3: '', msg: 'message.'},
	{text1: 'text', text2: '123', val3: '', msg: 'message.'},
];
//{{/copy}}
//{{/wrapscript}}
</script>
{{> code class="js" code=script1}}
