.cheetah-grid__inline-menu {
	color: rgba(0, 0, 0, .87);
	box-sizing: content-box;
	margin: -1px auto auto -1px;
	padding: 0;
	background-color: #fafafa;
	list-style-type: none;
	border-radius: 2px;
	max-height: 100vh;
	overflow-y: auto;

	transition: padding 150ms ease-out, box-shadow 150ms ease-out, opacity 150ms ease-out;
}
.cheetah-grid__inline-menu.hide {
	box-shadow: none;
	padding: 0;

	pointer-events: none;
	opacity: 0;
}
.cheetah-grid__inline-menu.hide * {
	pointer-events: none;
}
.cheetah-grid__inline-menu.show {
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0px rgba(0, 0, 0, 0.14), 0 1px 5px 0px rgba(0, 0, 0, 0.12);
	padding: 8px 0;
}

.cheetah-grid__inline-menu__menu-item {
	background-color: #fafafa;
	height: 100%;
	box-sizing: border-box;

	display: flex;
	align-items: center;
	justify-content: flex-start;

	outline: none;
	cursor: pointer;

	position: relative;
	overflow: hidden;

	transition: padding 150ms ease-out;
}
.cheetah-grid__inline-menu.hide .cheetah-grid__inline-menu__menu-item {
	padding: 0;
}
.cheetah-grid__inline-menu.show .cheetah-grid__inline-menu__menu-item {
	padding: 0 16px;
}

.cheetah-grid__inline-menu__menu-item::before {
	position: absolute;
	top: calc(50% - 100%);
	left: calc(50% - 100%);
	width: 200%;
	height: 200%;
	background-color: #000;
	opacity: 0;
	pointer-events: none;
	content: "";
	transition: opacity 15ms linear;
}
.cheetah-grid__inline-menu__menu-item:hover::before {
	opacity: 0.04;
}
.cheetah-grid__inline-menu__menu-item[data-select]::before {
	opacity: 0.04;
}
.cheetah-grid__inline-menu__menu-item:focus::before {
	opacity: 0.12;
}