---
category:
    - Usage
    - Column Types
    - Classes
title: BranchGraphColumn
layout: demo.html
order: 400
---

{{#marked}}
## BranchGraphColumn

ブランチグラフを表示する

{{/marked}}

<div id="sample1" class="demo-grid large">
</div>
<div>
	<label style="vertical-align: top;">data:</label>
	<textarea id="command" style="width: calc(100% - 100px);height: 300px; vertical-align: top;" wrap="off">[
	[
		{
			command: 'branch',
			branch: {
				from: 'mastar',
				to: 'develop'
			}
		},
		{
			command: 'commit',
			branch: 'develop'
		}
	],
	[
		{
			command: 'commit',
			branch: 'mastar'
		}
	],
	[
		{
			command: 'branch',
			branch: 'mastar'
		},
		{
			command: 'commit',
			branch: 'mastar'
		}
	]
]</textarea><br>
	<button id="update" style="vertical-align: top;">update</button>
</div>
<script type="text/javascript">
//{{#wrapscript}}
//{{#copy "sample1"}}
/*global cheetahGrid*/
'use strict';

const grid = new cheetahGrid.ListGrid({
	parentElement: document.querySelector('#sample1'),
	header: [
		{
			field: (rec) => rec,
			caption: 'BranchGraph',
			width: 320,
			columnType: new cheetahGrid.columns.type.BranchGraphColumn({
				start: 'top', // Specify the start and indicate the direction to proceed. 'top' or 'bottom'. default 'bottom'
				cache: false // cache enable. default true
			}),
		},
		{
			field(rec) {
				return JSON.stringify(rec);
			},
			caption: 'command',
			width: 1000
		},
	],
	frozenColCount: 1
});
grid.records = [

	[
		// new branch 'mastar'
		{
			command: 'branch',
			branch: 'mastar'
		}, 
		// and commit 'mastar' branch
		{
			command: 'commit',
			branch: 'mastar'
		}
	],
	[
		// commit 'mastar' branch
		{
			command: 'commit',
			branch: 'mastar'
		},
	],
	[
		// new branch 'develop'. from 'mastar'
		{
			command: 'branch',
			branch: {
				from: 'mastar',
				to: 'develop'
			}
		},
	],
	[
		// commit 'develop' branch
		{
			command: 'commit',
			branch: 'develop'
		},
	],
	[
		// merge 'develop' branch into 'master' branch
		{
			command: 'merge',
			branch: {
				from: 'develop',
				to: 'mastar'
			}
		},
		// and tag with v.0.0.1
		{
			command: 'tag',
			branch: 'mastar',
			tag: 'v1.0.0'
		},
	],
	[
		null // not doing
	],
	//-------------------------
	[
		{
			command: 'branch',
			branch: {
				from: 'develop',
				to: 'develop2'
			}
		}, {
			command: 'commit',
			branch: 'develop2'
		}
	],
	[
		{
			command: 'branch',
			branch: {
				from: 'develop',
				to: 'develop3'
			}
		}, {
			command: 'commit',
			branch: 'develop3'
		},
		{
			command: 'merge',
			branch: {
				from: 'develop2',
				to: 'mastar'
			}
		},
	],
	[
		{
			command: 'commit',
			branch: 'develop2'
		}
	],
	[
		{
			command: 'branch',
			branch: {
				from: 'develop2',
				to: 'develop4'
			}
		}, {
			command: 'commit',
			branch: 'develop4'
		},
		{
			command: 'branch',
			branch: {
				from: 'develop2',
				to: 'develop5'
			}
		}, {
			command: 'commit',
			branch: 'develop5'
		},
	],
	[
		{
			command: 'commit',
			branch: 'develop2'
		}
	],
	[
		{
			command: 'tag',
			branch: 'mastar',
			tag: 'v1.1.0'
		},
		{
			command: 'commit',
			branch: 'mastar'
		},
		{
			command: 'commit',
			branch: 'develop4'
		}
	],
	{
			command: 'commit',
			branch: 'develop3'
	}
];

//{{/copy}}
document.querySelector('#update').onclick = () => {
	grid.records = eval('(function() {return ' + document.querySelector('#command').value + ';})()');
};

//{{/wrapscript}}
</script>
{{> code class="js" code=sample1}}

