/**
 * core styles 
 */
.cheetah-grid .grid-scrollable {
	height: 100%;
	width: 100%;
	position: absolute;
	overflow: scroll;
}
.cheetah-grid .grid-scroll-end-point {
	opacity: 0;
	position: relative;
}
.cheetah-grid {
	position: relative;
	width: 100%;
	height: 100%;
}
.cheetah-grid > canvas {
	position: absolute;
	width: 0;
	height: 0;
}
.cheetah-grid .grid-focus-control {
	position: relative !important;
	width: 1px;
	height: 1px;
	opacity: 0;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	pointer-events: none;
	max-width: 0;
	max-height: 0;
	float: none !important;
}
.cheetah-grid input.grid-focus-control::-ms-clear {
	visibility:hidden;
}
.cheetah-grid input.grid-focus-control.composition {
	opacity: 1;
	max-width: none;
	max-height: none;
}

/**
 * component styles
 */
/*ms*/
.cheetah-grid__inline-input-editor__input::-ms-clear,
.cheetah-grid__small-dialog-input-editor-dialog__input::-ms-clear {
	visibility:hidden;
}

/*hide amin*/
@keyframes cheetah-grid__columns--hide-animation {
	0% {
		opacity: 1;
	}
	99% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/** SmallDialogInputEditor */
.cheetah-grid__small-dialog-input-editor-dialog {
	box-sizing: content-box;
	margin : -1px auto auto -1px;
	border-radius: 3px;
	background-color: #fafafa;

	transition: padding 150ms ease-out, box-shadow 150ms ease-out;
}
.cheetah-grid__small-dialog-input-editor-dialog.hide {
	box-shadow: none;
	padding: 0;

	pointer-events: none;
	animation: cheetah-grid__columns--hide-animation  150ms ease-out;
	opacity: 0;
}
.cheetah-grid__small-dialog-input-editor-dialog.show {
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0px rgba(0, 0, 0, 0.14), 0 1px 5px 0px rgba(0, 0, 0, 0.12);
	padding: 8px 24px 26px;
}
.cheetah-grid__small-dialog-input-editor-dialog__input {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 3px 2px 0 4px;
	border: none;
	border-bottom: solid 1px rgba(0, 0, 0, .87);
	outline: none;
	background-color: transparent;
	transition: all 300ms ease-out;
}
.cheetah-grid__small-dialog-input-editor-dialog__input:focus {
	border-bottom: solid 1px #2196f3;
	box-shadow: 0 1px 0 0 #2196f3;
}
.cheetah-grid__small-dialog-input-editor-dialog.helper-text--right-justified::after {
	text-align: right;
}
.cheetah-grid__small-dialog-input-editor-dialog[data-helper-text]::after,
.cheetah-grid__small-dialog-input-editor-dialog[data-error-message]::after {
	font-size: 12px;
	line-height: 1;
	display: block;
	width: 100%;
	padding-top: 8px;
}
.cheetah-grid__small-dialog-input-editor-dialog[data-helper-text]::after {
	content: attr(data-helper-text);
	color: rgba(0, 0, 0, .87);
}
.cheetah-grid__small-dialog-input-editor-dialog[data-error-message] input {
	border-bottom: solid 1px #dd2c00;
	box-shadow: 0 1px 0 0 #dd2c00;
}
.cheetah-grid__small-dialog-input-editor-dialog[data-error-message]::after {
	content: attr(data-error-message);
	color: #dd2c00;
	text-align: left;
}

/** InlineInputEditor */
.cheetah-grid__inline-input-editor__input {
	box-sizing: border-box;
}

/** InlineMenuEditor */
.cheetah-grid__inline-menu-editor {
	color: rgba(0, 0, 0, .87);
	box-sizing: content-box;
	margin: -1px auto auto -1px;
	padding: 0;
	background-color: #fafafa;
	list-style-type: none;
	border-radius: 2px;
	max-height: 100vh;
	overflow-y: auto;

	transition: padding 150ms ease-out, box-shadow 150ms ease-out, opacity 150ms ease-out;
}
.cheetah-grid__inline-menu-editor.hide {
	box-shadow: none;
	padding: 0;

	pointer-events: none;
	/*animation: cheetah-grid__columns--hide-animation  150ms ease-out;*/
	opacity: 0;
}
.cheetah-grid__inline-menu-editor.hide * {
	pointer-events: none;
}
.cheetah-grid__inline-menu-editor.show {
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0px rgba(0, 0, 0, 0.14), 0 1px 5px 0px rgba(0, 0, 0, 0.12);
	padding: 8px 0;
}
.cheetah-grid__inline-menu-editor__menu-item {
	padding: 0 16px;
	background-color: #fafafa;
	height: 100%;
	box-sizing: border-box;

	display: flex;
	align-items: center;
	justify-content: flex-start;

	outline: none;
	cursor: pointer;

	position: relative;
	overflow: hidden;
}
.cheetah-grid__inline-menu-editor__menu-item::before {
	position: absolute;
	top: calc(50% - 100%);
	left: calc(50% - 100%);
	width: 200%;
	height: 200%;
	background-color: #000;
	opacity: 0;
	pointer-events: none;
	content: "";
	transition: opacity 15ms linear;
}
.cheetah-grid__inline-menu-editor__menu-item:hover::before {
	opacity: 0.04;
}
.cheetah-grid__inline-menu-editor__menu-item[data-select]::before {
	opacity: 0.04;
}
.cheetah-grid__inline-menu-editor__menu-item:focus::before {
	opacity: 0.12;
}