---
category: Getting Started
title: Download
layout: demo.html
order: 1
---

{{#marked}}
# Downloading Cheetah Grid 

## Using Cheetah Grid with a CDN

```html
<script src="https://unpkg.com/cheetah-grid@{{version}}"></script>
```

## Downloading Cheetah Grid using npm
[![npm](https://img.shields.io/npm/v/cheetah-grid.svg)](https://www.npmjs.com/package/cheetah-grid)

```bash
$ npm install cheetah-grid
```

```js
const cheetahGrid = require("cheetah-grid")
```

## Downloading Cheetah Grid source code

[cheetahGrid.es5.min.js](https://unpkg.com/cheetah-grid@{{version}}/dist/cheetahGrid.es5.min.js)  

### SourceMap  
[cheetahGrid.es5.min.js.map](https://unpkg.com/cheetah-grid@{{version}}/dist/cheetahGrid.es5.min.js.map)  


## Downloading Cheetah Grid using GitHub

{{/marked}}

<a class="github-button" href="https://github.com/future-architect/cheetah-grid" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star future-architect/cheetah-grid on GitHub">Star</a>
<a class="github-button" href="https://github.com/future-architect/cheetah-grid/fork" data-icon="octicon-repo-forked" data-size="large" data-show-count="true" aria-label="Fork future-architect/cheetah-grid on GitHub">Fork</a>
<a class="github-button" href="https://github.com/future-architect/cheetah-grid/archive/master.zip" data-icon="octicon-cloud-download" data-size="large" aria-label="Download future-architect/cheetah-grid on GitHub">Download</a>
<script async defer src="https://buttons.github.io/buttons.js"></script>

{{#marked}}

### git clone
```bash
$ git clone https://github.com/future-architect/cheetah-grid.git
```

### npm install & build
```bash
$ npm install
$ npm run build
```

built file is created in the `./dist` directory

# JavaScript

Please refer to the [more documents](../../index.html) for details

{{/marked}}



<script type="text/javascript">
'use strict';
//{{{babel textContents.demos.[demos/init.parts.js]}}}
function load() {
//{{#wrapscript}}
/*global cheetahGrid,generatePersons*/
	const personsData = generatePersons(10000);
	//{{#copy "script1"}}
	// initialize
	const grid = new cheetahGrid.ListGrid({
	// Parent element on which to place the grid
		parentElement: document.querySelector('#sample1'),
		// Header definition
		header: [
			{field: 'check', caption: '', width: 50, columnType: 'check', action: 'check'},
			{field: 'personid', caption: 'ID', width: 100, columnType: 'center'},
			{field: 'fname', caption: 'First Name', width: 200},
			{field: 'lname', caption: 'Last Name', width: 200},
			{field: 'email', caption: 'Email', width: 250},
		],
		// Array data to be displayed on the grid
		records: personsData,
		// Column fixed position
		frozenColCount: 2,
	});
//{{/copy}}
//{{/wrapscript}}
}
</script>
{{> code class="js" code=script1}}

<div id="sample1" class="demo-grid middle">
</div>

<script type="text/javascript">
'use strict';
load();
</script>