.primary {
    background-color: #284060;
    color: #fff;
}

.primary.light,.primary .light {
    background-color: #556b8e;
    color: #fff;
}

.primary.dark,.primary .dark {
    background-color: #001a36;
    color: #fff;
}

nav {
    line-height: 80px;
    height: 80px;
}
nav ul {
    padding-left: 0;
    list-style-type: none;
    margin: 0;
}
nav ul li {
    float: left;
    padding: 0;
}
nav ul a {
    font-size: 1rem;
    display: block;
    padding: 0 15px;
    cursor: pointer;
    text-decoration: none;
}
nav ul li a:hover {
    background-color: rgba(0,0,0,0.1);
}

table {
    border-collapse: collapse;
    margin-bottom: 30px;
}
th {
    border-top: solid 1.5px #aaa;
    border-bottom: solid 1.5px #aaa;
    padding: 5px 10px;
}
td {
    border-bottom: solid 1px #aaa;
    padding: 5px 10px;
}

code {
    border: .1rem solid #E5E5E5;
    margin: 0 .3rem;
    padding: .2rem .4rem;
    background-color: #F4F9F9;
}

.contents h1, .contents h2 {
    border-bottom: 1px solid #ddd;
    padding-bottom: .1em;
}

.right {
    float: right !important;
}

.share-buttons>* {
    line-height: 20px;
}

.share-buttons>*>* {
    vertical-align: bottom;
}

.share-buttons {
    text-align: right;
    padding: 5px;
}

.icon-arrow {
    display: inline-block;
    background: -moz-linear-gradient(-45deg, transparent 0%, transparent 50%, #DDD 51%, #DDD 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 50%, #DDD 51%, #DDD 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, transparent 0%, transparent 50%, #DDD 51%, #DDD 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    width: 10px;
    height: 10px;
    transform: rotate(45deg) translateY(-5px);
    vertical-align: middle;
}

.nav-dropdown-container {
    position: relative;
}

@media screen and (min-width: 500px) {
    .mobile-only {
        display: none;
    }

    .nav-dropdown {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .nav-dropdown.show {
        display:block;
    }

    .nav-dropdown.right-dropdown {
        right: 0;
    }

    nav ul.nav-dropdown li {
        float: none;
        line-height: 50px;
        white-space: nowrap;
    }

}
@media screen and (max-width: 499px) {
    .mobile-only {
    }

    .mobile-nav-dropdown {
        display: none;
        position: absolute;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .mobile-nav-dropdown.show {
        display:block;
    }

    .mobile-nav-dropdown.right-dropdown {
        right: 0;
    }

    nav ul.mobile-nav-dropdown li {
        float: none;
        line-height: 50px;
        white-space: nowrap;
    }
    nav ul.mobile-nav-dropdown ul {
        padding-left: 5px; 
    }

}

