html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0px;
}
.primary {
    background-color: #284060;
    color: #fff;
}

.primary.light,.primary .light {
    background-color: #556b8e;
    color: #fff;
}

.primary.dark,.primary .dark {
    background-color: #001a36;
    color: #fff;
}

#parent {
    width: 100%;
    height: calc(100% - 332px);
}

.title-area {
    width: 100%;
    height: 300px;
    background-color: #284060;
}

.links {
    height: 40px;
}

.doc-link {
    color: #fff;
    float: right;
    margin: 8px
}

.title, .footer {
    position: relative;
    text-align: center;
}

.logo {
    margin: 8px;
    width: 300px;
    max-width: 65%;
}

.description{
    color: #fff;
    display: block;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: 200;
}

.footer {
    height: 32px;
    font-size: 10.5px;
    background-color: #001a36;
    color: #fff;
    font-weight: 200;
}

.share-buttons>* {
    line-height: 20px;
}

.share-buttons>*>* {
    vertical-align: bottom;
}

.share-buttons {
    text-align: right;
    padding: 5px;
}