name: GHPages

on:
  push:
    branches: [master]

jobs:
  deploy-docs:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
    - name: Install Packages
      run: |+
        npm ci
        npm run ci:all
    - name: Build all
      run: npm run build
      
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./docs
        force_orphan: true
